* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
}

.carrier {
  text-align: center;
}
.choose {
  background-color: #f5f5f5;
  padding: 10px;
  max-width: 600px;
  text-align: center;
  text-align: left;
}

.choose p {
  margin-bottom: 5px;
}

.choose ul {
  list-style-type: none;
  padding: 0;
}

.choose ul li {
  margin-bottom: 5px;
}

.choose strong {
  display: block;
  margin-top: 10px;
}

/* =================================== */

.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 38px;
  color: #333;
  margin-bottom: 10px;
}

.text-heading {
  font-size: 22px;
  color: #666;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

h2,
h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
}

.error {
  color: red;
  background: rgb(241, 208, 141);
  padding: 2rem;
  font-weight: 700;
}
